.hitbar {
  width: 80%;
  /* background-color: blue; */
  align-self: center;
  justify-content: center;
  align-items: center;
}

.hitbar > select {
  height: 53px;
  font-size: x-large;
  border: 0;
  border-radius: 10px 0 0 10px;
  background-color: #ff4301;
  color: aliceblue;
}

.hitbar > input {
  height: 50px;
  border: 0;
  font-size: x-large;
  margin: 0;
  padding-left: 20px;
  color: rgb(78, 78, 78);
  width: 400px;
}
.hitbar > button {
  height: 53px;
  font-size: x-large;
  border-radius: 0 10px 10px 0;
  background-color: #ff4301;
  color: white;
  border: 0;
}
